#root {
  max-width: 412px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.logo {
  margin: 0;
  padding: 0;
  max-width: 350px;
  height: 200px;
  will-change: filter;
  transition: filter 2s ease; /* 변화가 느려지도록 시간 늘리기 */
}
.logo:hover {
  filter: drop-shadow(0 0 10px #646cffaa); /* 범위를 더 넓게 */
}
